// .css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
//   color: #837108;
// }

.MuiBottomNavigation-root {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  right: 0;
  margin: auto;
}
